<style type="text/css">
<!--
    BODY {
        color: #000000;
        background: #FFFFFF
    }
    A:link {
        color: #0000FF;
        text-decoration: underline
    }
    A:visited {
        color: #0000FF;
        text-decoration: underline
    }
    A:active {
        color: #FFFF00;
        text-decoration: underline
    }
    TD.folder {
        background: #CCCCCC;
        text-align: left;
    }
    TD.image {
        color: #000000;
        background: #CCCCFF;
        text-align: center;
    }
    TD.desc {
        color: #000000;
        background: #CCCCFF;
        text-align: center;
    }
-->
</style>
