/* Default typeface */
a, b, p, table, small, body, td, ol, ul, menu, blockquote, div {
    font-family: Arial, Helvetica, sans-serif;
}
pre, tt, input, textarea {
    font-family: Courier, fixed;
}

body {
    margin: 0px;
}

/* Link appearance */
a:link, a:visited { text-decoration: none }
a:active, a:hover { text-decoration: underline }
a:hover { color: blue }

/* Folder table (text) */
td.foldertext {
    color: #000000;        padding-top: 0px;
    background: #f0f0f0;   padding-bottom: 1px;
    font-size: .75em;      padding-left: 3px;
    text-align: left;      padding-right: 8px;
}

/* Folder table (thumbnails) */
td.folderthumbs {
    color: #000000;        padding-top: 2px;
    background: #f0f0f0;   padding-bottom: 2px;
    font-size: .7em;       padding-left: 4px;
    text-align: center;    padding-right: 8px;
}

/* Image table */
td.image {
    color: #000000;          padding-top: 2px;
    background: #f0f0f0;     padding-bottom: 2px;
    font-size: .8em;         padding-left: 4px;
    text-align: center;      padding-right: 8px;
}

/* Description table */
td.desc {
    color: #333333;          padding-top: 4px;
    background: #f0f0f0;     padding-bottom: 3px;
    font-size: .9em;         padding-left: 4px;
    text-align: center;      padding-right: 6px;
}

.inactivelink {
    color: #999999;
}

img.imagethumb {
    border: 0;
}