name: CI

on:
  push:
    branches:
      - main
      - boris/*
      - develop
  pull_request:
    branches: [ main ]

jobs:
  versions:
    timeout-minutes: 5
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php-versions:
          - { php: '5.6', phpunit_polyfills: '2.0' }
          - { php: '7.3', phpunit_polyfills: '4.0' }
          - { php: '7.4', phpunit_polyfills: '4.0' }
          - { php: '8.0', phpunit_polyfills: '4.0' }
          - { php: '8.1', phpunit_polyfills: '4.0' }
          - { php: '8.2', phpunit_polyfills: '4.0' }
          - { php: '8.3', phpunit_polyfills: '4.0' }
          - { php: '8.4', phpunit_polyfills: '4.0' }
          - { php: '8.5', phpunit_polyfills: '4.0' }
    name: PHP ${{ matrix.php-versions.php }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions.php }}
          coverage: xdebug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: install phpunit/phpunit-polyfills
        run: "make _composer-container-install-polyfills PHPUNIT_POLYFILLS_VERSION=${{ matrix.php-versions.phpunit_polyfills }}"

      - name: run unittests
        run: make unittests

  systems:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest, windows-latest ]
    name: Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest

      - run: make composer-install

      - name: run unittests
        run: make unittests
