name: Psalm Static analysis

on:
  push:
    branches:
      - main
      - boris/*
      - develop
  pull_request:
    branches: [ main ]

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: create bundle
        run: make index.php

      - name: Archive installer
        uses: actions/upload-artifact@v5
        with:
          name: index.php
          path: ./build/index.php

      - uses: shivammathur/setup-php@v2
        with:
          php-version: latest

      - run: make composer-install

      - name: Psalm
        run: make psalm

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: build/psam-github-results.sarif
